@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* ---------- VARIABLES (from your colors) ---------- */
:root {
  --color-primary: #1c1c22;
  --color-accent: #8b5cf6;
  --color-accent-hover: #a78bfa;
}

/* ---------- BASE ---------- */
@layer base {
  body {
    font-family: var(--font-jetbrainsMono), monospace;
    background-color: var(--color-primary);
    color: white;
  }

  h1 {
    font-size: 38px;
    line-height: 1.1;
    font-weight: 600;
  }
   h2 {
    font-size: 22px;
    line-height: 1.1;
    font-weight: 600;
  }

   h3 {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 600;
  }
::selection {
  background-color: var(--color-accent);
  color: white;
}


  @media (min-width: 1280px) {
    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 44px;
    }

    h3 {
      font-size: 22px;
    }
  }
}

/* ---------- ACCORDION ANIMATION ---------- */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}